<!DOCTYPE html>
<html>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="https://cdn.lineicons.com/2.0/LineIcons.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="static/js/flotr2.min.js" type="text/javascript"></script>
    <script src="static/js/math.js" type="text/javascript"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css?family=Poiret One" rel="stylesheet" />
    <link  rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="static/css/style.css"/>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<body>



<div class="container" oncontextmenu="return false;">

  <div class="header">
    <div class="header-logo">
      <!--  heder logo -->
      <div class="header-logo">
      <span class="site-title" style="padding-left: 1%" font-family="Cabin Sketch">Digital Filters</span>
      </div>
    </div>

    
    <div class="header-search">
      <button
        class="button-menu"
        onclick="this.classList.toggle('opened');this.setAttribute('aria-expanded', this.classList.contains('opened'));"
        aria-label="Main Menu"
      >
        <svg width="40" height="40" viewBox="0 0 100 100">
          <path
            class="line line1"
            d="M 20,29.000046 H 80.000231 C 80.000231,29.000046 94.498839,28.817352 94.532987,66.711331 94.543142,77.980673 90.966081,81.670246 85.259173,81.668997 79.552261,81.667751 75.000211,74.999942 75.000211,74.999942 L 25.000021,25.000058"
          />
          <path class="line line2" d="M 20,50 H 80" />
          <path
            class="line line3"
            d="M 20,70.999954 H 80.000231 C 80.000231,70.999954 94.498839,71.182648 94.532987,33.288669 94.543142,22.019327 90.966081,18.329754 85.259173,18.331003 79.552261,18.332249 75.000211,25.000058 75.000211,25.000058 L 25.000021,74.999942"
          />
        </svg>
      </button>
    </div>
  </div>


<!-- end  header  -->

  <div class="main">
        <!--  this div very important -->
        <div class="sidebar">
          <!--  all pass lib -->
          <ul id="allpass_lib">
            <!-- add input's text for all pass filter  -->
              <li>
                <label style="color: #ffffffff ; margin-right: 10%; width: 20%;">EQN   </label
                ><input type="text" id="NewAllPassValue" style="width: 70%; " />
              </li>
              <br>

              <!-- button for add new all pass filter  -->
              <button class="form-control"
                onclick="addNew()"
                class="btn btn-primary"
                style="background-color:#2f4a8781; color: #ffffffff"
                > Add
              </button>


              <!-- catalog of all pass filter -->
              <li>
                <a href="#" onclick="showZplaneForAllPass('0.9')"  >
                  <i class="lni lni-inbox" style="color: #ffffffff"></i >
                  <span style="color: #ffffffff">a = 0.9</span>
                </a>

                <input type="checkbox" id="flag"  onclick="addOrRemove(this, '0.9')" />
            </li>


            
              <li>
                  <a href="#" onclick="showZplaneForAllPass('0.54')"  >
                    <i class="lni lni-inbox" style="color: #ffffffff"></i >
                    <span style="color: #ffffffff">a = 0.54</span>
                  </a>

                  <input type="checkbox" id="flag"  onclick="addOrRemove(this, '0.54')" />
              </li>


              <li>
                  <a href="#" onclick="showZplaneForAllPass('0.18')" >
                    <i class="lni lni-inbox" style="color: #ffffffff"></i >
                    <span style="color: #ffffffff">a = 0.18</span>
                  </a>
                  
                  <input type="checkbox" id="flag" onclick="addOrRemove(this, '0.18')" />
              </li>

              <li>
                  <a href="#" onclick="showZplaneForAllPass('-0.9')"  >
                    <i class="lni lni-inbox" style="color: #ffffffff"></i >
                    <span style="color: #ffffffff">a = -0.9</span>
                  </a>
                  <input type="checkbox" id="flag" onclick="addOrRemove(this, '-0.9')" />
              </li>

              <li>
                <a href="#" onclick="showZplaneForAllPass('-0.54')"  >
                <i class="lni lni-inbox" style="color: #ffffffff"></i >
                <span style="color: #ffffffff">a = -0.54</span>
                </a>

                <input  type="checkbox" id="flag" onclick="addOrRemove(this, '-0.54')"/>
              </li>

              <li>
                  <a href="#" onclick="showZplaneForAllPass('-0.18')" >
                    <i class="lni lni-inbox" style="color: #ffffffff"></i >
                    <span style="color: #ffffffff">a = -0.18</span>
                  </a>

                  <input type="checkbox" id="flag" onclick="addOrRemove(this, '-0.18')"  />
              </li>
          </ul>
          <!-- catalog of all pass filter -->
        </div>




     <!--  for zero pole and unit circle -->
     <div class="page-content">
        <!-- for unit circle  -->
        <canvas id="zplane_polezero2" width="300px" height="300px"></canvas>
        <!-- to show zero and pole in the canvas -->
        <div id="zeros"></div>
        <div id="poles"></div>
        
       <br>
       <br>
        <!-- new pole buttn  -->
        <button onclick="addNewPole()" class="btn btn-primary" style="background-color: #2f4a8781; font-size: 12.7px" > Add Pole </button>
      
        <!-- new zero buttn  -->
        <button onclick="addNewZero()" class="btn btn-primary" style="background-color: #2f4a8781; font-size: 12.7px" > Add Zero </button>
      
        <!-- for clear all point  -->
        <button onclick="clearAllPoints()" class="btn btn-primary" style="background-color:#2f4a8781; font-size: 12.7px"> Clear All</button >
<br>
        
          

           <input type="file" id="uploaded_filter"   accept=".csv" onchange="importFilter()" style="background-color: #2f4a8781; font-size: 12.7px; "/>
           <label for="uploaded_filter" id="upload_filter" class="btn btn-primary" style="background-color:#2f4a8781; font-size: 12.7px; ">Upload Filter</label>

           <!-- for export digital filter  -->
           <button onclick="ExportZeroesPole()"id="export" class="btn btn-primary" style="background-color: #2f4a8781; font-size: 12.7px ;" >Export Filter </button>
 <br>
           <!-- check boxes  -->
           <div style="margin-top: 2%;">
              <input type="checkbox" id="conjugate" onclick="setZplane(poles, zeros)"/>
              <label style="color: #ffffffff ;" > Add Conjugates</label>
              <input type="checkbox" id="allPassEffect" onclick="setZplane(poles, zeros)"  style="margin-left: 20px;"/>
              <label style="color: #ffffffff">All Pass Filters</label>
          </div>
          <br><br><br>
          <!-- all pass filter  -->
          <canvas id="allpass_zplane_polezero2"
              width="300px"
              height="300px"
              style="margin-top: 10px;"
          ></canvas>

          
      </div>





      <!--  response plots  -->

      <div id="design_responses" >
        <span style="color:#ffffffff">Magnitude Response</span> 
        <div id="mag_response" style="width: 400px; height: 200px; margin-top: 30px; margin-bottom: 30px; right:5%;"></div>

        <span style="color:#ffffffff">Phase Response</span>
        <div id="phase_response" style="width: 400px; height: 200px; margin-top: 30px; margin-bottom: 30px; right:5%;"></div>

        <span style="color:#ffffffff">All Pass</span>
        <div id="allpass_phase_response" style="width: 400px; height: 200px; margin-top: 30px; margin-bottom: 30px; right:5%;" ></div>
        
    </div>

    

    <!--  signal plot -->
    <div class="signal_plots">


      <span style="color:#ffffffff">Input Signal</span>
      <div id="input_plot"></div>

      <span style="color:#ffffffff">Output Signal</span>
      <div id="output_plot"></div>
      <span style="color:#ffffffff">Track Pad</span>
      <div id="track_pad"></div>
    </div>
  </div>
</div>

<script src="static/js/layout.js" type="text/javascript"></script>
<script src="static/js/app.js" type="text/javascript"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@2.4.21/dist/js/splide.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>


</body>
</html>